
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #36454f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23070a0d' fill-opacity='0.42' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: 'Roboto';
}
header {
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}
.logo {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 0;
}

.logo-red-part {
  color: #800020;
}
.tiny-text {
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 5px;
}

.sentence-prompt {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 20px;
}
.image-container {

  display: flex;
  justify-content: center;
  position: relative; /* Parent must be relative for absolute positioning */
}
.blurred {
  display: block;
}
.clear {
  display: block;
}
.btn {
  position: absolute;
  top: 50%; /* Moves button down to the middle */
  left: 50%; /* Moves button to the center */
  transform: translate(-50%, -50%); /* Centers the button perfectly */
  background: #1F2C34d1;
  border-radius: 7px;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover {
  border: #800020a8 1px solid;
}

footer {
  background-color: #00000023;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 25px;
}